body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    color: #8785A2;
    background-color: #FFE2E2;
}

.nav {
    background-color: #FFC7C7;
    padding: 10px 0;
    text-align: center;
}

.nav a {
    color: #1F4172;
    text-decoration: none;
}
.nav a:hover {
    color: #8785A2; 
    text-decoration: underline; 
}

.nav ul {
    list-style: none;
    padding: 0;
}

.nav li {
    display: inline;
    margin: 0 20px;
}

.main img {
    width: 600px;
    height: 300px;
    margin-left: 150px;
    margin-top: 100px;
    border-radius: 20px;
}

.main h1 {
    color: #1F4172;
    margin-right: 60px;
    float: right;
    width: 40%;
    padding-top: 90px;
    text-align: center;
    font-size: 30px;
}

.main p {
    float: right;
    width: 40%;
    margin-top: -210px;
    margin-right: 40px;
}

h2 {
    color: #1F4172;
    padding-top: 50px;
    text-align: center;
    font-size: 30px;
}

.prod img {
    width: 400px;
    height: 200px;
    margin-left: 30px;
    padding: 20px;
    border-radius: 20px;
}

.about p {
    width: 50%;
    margin-left: 350px;
    text-align: center;

}

.contato {
    text-align: center;
    margin-bottom: 20px;
}

.contato a {
    text-align: center;
    color: #1F4172;
    text-decoration: none;

}
.contato a:hover {
    color: #8785A2; 
    text-decoration: underline; 
}
.whatsapp-link {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: #25d366;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 1px 1px 2px #888;
    z-index: 1000;
}
.whatsapp-link:hover{
    opacity: 0.8;
}

.fa-whatsapp {
    margin-top: 16px;
}

footer {
    background-color: #FFC7C7;
    text-align: center;
    padding: 5px;
}
